:root {
  --bg-primary: #208d75;
  --text-primary: #83deb2;
  --res-nav-color: #028065;
  --bg-light: #c6f7ea;
}

.ask-section {
  padding: 10rem 0rem;
  display: grid;
  grid-template-columns: repeat(8, 1fr) repeat(4, 1fr);
}

.ask-section-content {
  grid-column: span 8;
}

.ask-section-content > h3 {
  font-size: 51px;
  font-family: serif;
  font-weight: 500;
  line-height: 56px;
}

.ask-section-content > h3::first-letter {
  text-transform: capitalize;
}

.ask-section-content > p {
  font-size: 17px;
  line-height: 24px;
  font-family: sans-serif;
  padding: 30px 0px;
}

/* .hover-btn {
  background-color: white !important;
  border-radius: 52px;
}

.ask-section-content > button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: none;
  outline: none;
  background-color: transparent;
}

.ask-section-content > button > span {
  font-size: 20px;
  line-height: 32px;
  font-family: sans-serif;
  letter-spacing: 3px;
  padding: 0px 25px;
}

.ask-section-content > button > i {
  font-size: 30px;
  background-color: white;
  padding: 20px 20px;
  border-radius: 50%;
} */

.ask-section-content-btn {
  position: relative;
}

.ask-section-content-btn > .ask-section-playground {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.ask-section-content-btn > .ask-section-playground > button {
  font-size: 40px;
  font-weight: bold;
  margin: 20px;
  padding: 10px;
  width: 200px;
  border: 1px solid #ddd;
  transition: all 0.5s ease-out;
  color: #273c75;
}

.ask-section-content-btn > .ask-section-playground > button:hover {
  color: #fff;
}
.ask-section-content-btn > .ask-section-playground > button {
  background: linear-gradient(to right, #fff 50%, #e84118 50%);
  background-size: 200% 100%;
  background-position: left;
}

.ask-section-content-btn > .ask-section-playground > button:hover {
  background-position: right;
}

.ask-section-animation {
  grid-column: span 4;
}
