:root {
  --bg-primary: #208d75;
  --text-primary: #83deb2;
  --res-nav-color: #028065;
  --bg-light: #c6f7ea;
}

.footer-wave {
  background-image: url('/assets/svg/footerWave.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-primary);
  background-color: var(--bg-light);
}

.footer-one {
  background-color: var(--res-nav-color);
  margin: -1rem 0 0 0;
  padding: 10rem 0rem;
}

@media (max-width: 1024px) {
  .footer-one {
    margin-top: -5rem;
  }
}

@media (max-width: 768px) {
  .footer-one {
    margin-top: -7rem;
  }
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-content > h2 {
  font: normal normal 700 68px/75px sans-serif;
  color: var(--text-primary);
  text-align: center;
}

.footer-content > p {
  font: normal normal 300 68px/75px serif;
  color: var(--text-primary);
  text-align: center;
}

.footer-content > button {
  background-color: white;
  border: none;
  outline: none;
  padding: 20px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 100px;
  transition: transform 0.4s ease-in-out;
  margin: 5rem 0rem;
}

.footer-content > button:hover {
  transform: scale(1.1);
}

.footer-content > button > span {
  font: normal normal 500 25px/30px serif;
  text-transform: capitalize;
}

.footer-content > button > i {
  font-size: 25px;
}

/* ! footer two */
.footer-two {
  background-color: var(--res-nav-color);
}

.footer-two-content {
  border-top: 1px solid var(--text-primary);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  padding: 10px 0 0 0;
}

.footer-two-content > .content-one {
  grid-column: span 6;
}

.footer-two-content > .content-one {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.footer-two-content > .content-one > h1 {
  font: normal normal 700 57px/24px sans-serif;
  color: var(--text-primary);
  text-transform: capitalize;
  padding: 1rem 0rem;
}

.footer-two-content > .content-one > .footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.footer-two-content > .content-one > .footer-icons > i {
  color: var(--text-primary);
  font-size: 25px;
  padding: 10px 5px;
}

/* footer content two running */

.footer-two-content > .content-two {
  grid-column: span 6;
}

.footer-two-content > .content-two > ul {
  display: flex;
  justify-content: start;
  align-items: start;
  list-style: none;
  gap: 20px;
}

.footer-two-content > .content-two > ul > li {
  font-size: 17px;
  line-height: 17px;
  color: var(--text-primary);
  font-family: sans-serif;
  font-weight: 600;
  padding: 1rem 0rem;
}

.content-two > .content-two-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: self-end;
  gap: 20px;
}

.content-two > .content-two-contact > .contact-one {
  display: flex;
  gap: 20px;
}

.contact-one > p {
  font-size: 20px;
  color: var(--text-primary);
  line-height: 21px;
  font-family: sans-serif;
  font-weight: 700;
}

.contact-one > i {
  font-size: 21px;
  color: var(--text-primary);
}
