:root {
  --bg-primary: #208d75;
  --text-primary: #83deb2;
  --res-nav-color: #028065;
  --bg-light: #c6f7ea;
}

.bubble-content {
  background-color: var(--text-primary);
  padding-top: 17rem;
  width: 100vw;
  border-top-right-radius: 100%;
  border-top-left-radius: 100%;
}

@media (max-width: 1024px) {
  .bubble-content {
    border-top-right-radius: 10%;
    border-top-left-radius: 10%;
  }
}

@media (max-width: 768px) {
  .bubble-content {
    border-top-right-radius: 40%;
    border-top-left-radius: 40%;
  }
}

.bubble-details > h1 {
  font-family: serif;
  font-size: 54px;
  line-height: 52px;
  text-align: center;
  text-align: center;
  padding: 20px 0px;
}

@media (max-width: 768px) {
  .bubble-details > h1 {
    font-size: 40px;
  }
}

.bubble-icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}

@media (max-width: 1024px) {
  .bubble-icons {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .bubble-icons {
    grid-template-columns: 1fr;
  }
}

.bubble-icons > .bubble-icon {
  margin: 5rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bubble-icons > .bubble-icon > i {
  font-size: 100px;
  color: black;
  opacity: 0.7;
}

.bubble-icons > .bubble-icon > h5 {
  font-size: 24px;
  font-family: sans-serif;
  line-height: 30px;
  color: black;
  font-weight: 700;
  text-align: center;
  padding: 20px 0px;
}

.bubble-icons > .bubble-icon > p {
  font-size: 17px;
  letter-spacing: 1px;
  line-height: 2px;
  color: black;
  font-family: sans-serif;
  font-weight: 300;
  padding: 10px 0px;
}
