:root {
  --bg-primary: #208d75;
  --text-primary: #83deb2;
  --res-nav-color: #028065;
  --bg-light: #c6f7ea;
}

.minds-content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  padding: 10rem 0 10rem 0;
  row-gap: 5rem;
}

@media (max-width: 600px) {
  .minds-content {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 900px) {
  .minds-content {
    grid-template-columns: repeat(6, 1fr);
  }
}

.minds-content > .minds-details {
  grid-column: span 6;
}

.minds-content > .minds-details > h2 {
  font: normal normal 500 51px/56px serif;
}

.minds-content > .minds-details > p {
  font: normal normal 300 17px/24px sans-serif;
  padding: 10px 0px;
}

/* ! image section style */

.minds-content > .minds-image {
  grid-column: span 6;
}

.minds-image {
  position: relative;
}

.minds-image > img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.minds-image > .play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: black;
  background-color: white;
  border-radius: 50%;
  padding: 20px 30px;
  cursor: pointer;
}
