:root {
  --bg-primary: #208d75;
  --text-primary: #83deb2;
  --res-nav-color: #028065;
  --bg-light: #c6f7ea;
}

body {
  background-color: #c6f7ea;
}

main {
  background-color: var(--bg-light);
}
  